node_modules/
dist/
*.tgz
.DS_Store
coverage/
output/
scripts/fonts/
vrt/snapshot/diffs/
vrt/snapshot/fixtures/
vrt/libreoffice/diffs/
vrt/libreoffice/snapshots/
vrt/libreoffice/fixtures/
demo/dist/
demo/node_modules/
